<!-- PopUp -->
<div class="pop-up fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="pop-up-dialog">
        <!-- <div class="pop-up-content">
            <div class="pop-up-header">
                <h5 class="pop-up-title" id="staticBackdropLabel">{{productService.productShowPopUp?.productName}}</h5>
                <button id="btnClose" type="button" class="btn-close" data-dismiss="pop-up" aria-label="Close"></button>
            </div>
            <div class="pop-up-body">
                <img [src]="productService.productShowModal?.image" height="100px" width="100px" class="d-block" />
                <form>
                    <label>Amount: </label>
                    <input type="number" class="form-control w-auto" [(ngModel)]="amount" name="amount" id="defaultCapacity" />
                    <div class="pop-up-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="pop-up" (click)="addToCart()">
                            Add to cart
                        </button>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</div>