<div class="card">
    <img src={{product.image}} class=" card-img-top ">
    <div class="card-body ">
        <h3 class="card-title ">{{product.productName | titlecase}}</h3>
        <div class="row ">
            <div class="col ">
                <label>Price: </label>
            </div>
            <div class="col mb-3 ">
                {{product.price}}$
            </div>
        </div>
        <button *ngIf="!this.usersService.isAdmin " class="add-button btn btn-primary " (click)="showPopUp(product)">Add to cart</button><br />
    </div>