<div class="row layout">
    <aside class="login-aside col-4 d-flex align-items-center justify-content-center">
        <app-login></app-login>
    </aside>
    <div class="col-8">
        <div class="greeting-main row">
            <main class="about-main d-flex align-items-center justify-content-center">
                <app-about></app-about>
            </main>

            <aside class="general-info-aside d-flex align-items-center justify-content-center">
                <app-general-info></app-general-info>
            </aside>
        </div>
    </div>
</div>