<app-error [error]="error" *ngIf="error!==''"></app-error>
<div class="card">
  <div class="card-body ">
    <h3 class="card-title " [ngClass]="highlightSearchResults()">{{product.productName | titlecase}}</h3>
    <div class="row ">
      <div class="col ">
        <label>Amount: </label>
      </div>
      <div class="col mb-3 ">
        {{product.amount}}
      </div>
    </div>
    <div class="row ">
      <div class="col ">
        <label>Price: </label>
      </div>
      <div class="col mb-3 ">
        {{product.totalPrice}}$
      </div>
    </div>
    <button *ngIf="!this.usersService.isAdmin " class="add-button btn btn-danger"
      [disabled]="this.shopStateService.orderPressed" (click)="removeFromCart(product)">Remove</button><br />
  </div>
